.bold {
  font-weight: 700;
}

/* text-with-icons new */
/* .text-with-icons-new .flickity-slider {
    width: 55%;
} */
.text-with-icons-new .text-with-icons__icon-wrapper svg {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 640px) {
  .text-with-icons-new .text-with-icons--stacked {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: baseline;
  }
}
@media screen and (min-width: 641px) {
  .text-with-icons-new .text-with-icons__item {
    flex-basis: calc(25% - 90px);
    margin: 0 40px 45px;
    display: flex;
  }
}
.text-with-icons-new .text-with-icons__icon-wrapper img {
  max-width: 70px;
}
.text-with-icons-new .section--heading {
  margin-bottom: 30px;
}
@media screen and (max-width: 641px) {
  .text-with-icons-new .section--heading {
    margin-left: 20px;
  }
}
@media screen and (min-width: 641px) {
  .text-with-icons-new .text-with-icons__item--link {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 990px) {
  .text-with-icons-new .text-with-icons {
    flex-wrap: nowrap;
    margin: 0;
    display: flex;
    padding: 0;
  }
  .text-with-icons-new .text-with-icons__item {
    flex-basis: unset;
    margin: 0;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .text-with-icons-new .text-with-icons {
    /* flex-wrap: wrap; */
    gap: 30px;
    margin: unset;
  }
  .text-with-icons-new .text-with-icons .text-with-icons__item {
    flex-basis: calc(25% - 30px);
    margin: 0 0px;
  }
}

/* slideshow-new */

@media screen and (min-width: 1480px) {
  .slideshow-new .slideshow__slide-inner .slideshow__content-wrapper {
    margin-left: calc((100vw - 1480px) / 2);
  }
}
@media screen and (min-width: 641px) {
  .slideshow-new .slideshow__slide-inner .slideshow__image {
    width: 50%;
    left: auto;
  }
  .slideshow-new .slideshow__slide-inner .slideshow__content-wrapper {
    width: 50%;
    margin-right: auto;
  }
}
@media screen and (max-width: 641px) {
  .slideshow-new .slideshow__slide-inner .container {
    /* color: #fff; */
  }
}

/* article */
.blog-post-parent .article-item {
  display: flex;
  flex-direction: column;
}
.blog-post-parent a.article-item__image-container {
  flex-basis: 75%;
}
.blog-post-parent img.article-item__image {
  height: 100%;
}
.collection--parent .collection-item__image-wrapper img,
.blog-post-parent .article-item__image {
  object-fit: contain;
  background: #fff;
}

/* collection */
/* .collection--parent .collection-item__image-wrapper img {
  object-fit: contain;
}
.collection--parent .collection-item__image-wrapper .aspect-ratio {
  background: #fff;
} */

/* header */
/* .mega-menu .mega-menu__column {
  margin: 0 14px;
} */
span.swym-header-launcher-text {
  display: none;
}
/* footer */
.trust--icon--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* .trust--icon--background {
  background: #fff;
  padding: 5px;
  border-radius: 2px;
} */
.trust--icon--wrapper img {
  width: 100%;
}
.trust--icon--flex-container {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.footer .trust--icon {
  width: 85px;
}
@media screen and (min-width: 640px) {
  .trust--icon--block {
    padding: 20px 35px 0;
  }
}
@media screen and (max-width: 640px) {
  .trust--icon--block {
    padding: 20px 0 0;
  }
}
.footer a[aria-describedby="a11y-new-window-message"] {
  color: #fff;
}
.footer__block-item.footer__block-item--text a {
  color: unset;
}

/* Multi level search */
.multi_search-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.collection__active-filter-item {
  color: #202223;
  font-weight: 400;
}
span.collection__active-filter-cross {
  height: 15px;
  width: 15px;
}
.collection__active-filter-cross svg {
  top: 3px;
  left: 4px;
}
@media screen and (max-width: 640px) {
  .multi_search-container {
    flex-wrap: wrap;
  }
}
.multi_search-item {
  width: 100%;
  max-width: 22rem;
  height: 40px;
  position: relative;
  z-index: 0;
  background: transparent;
  font-size: 14px;
  border: 1px solid black;
}
.multi_search-wrapper {
  width: 100%;
  max-width: 22rem;
  position: relative;
}
/* .multi_search--title {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  width: max-content;
  z-index: -1;
} */
.multi_search-heading {
  text-align: center;
  margin-bottom: 20px;
}
.button--wrapper {
  margin-top: 40px;
  text-align: center;
}

/* icon-with-text */
.icon-with-text-parent .icon-with-text .icon--wrapper img {
  width: 50px;
  margin-bottom: 5px;
}
.icon-with-text-parent {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1.5rem 0;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.icon-with-text-parent .icon-with-text {
  flex-basis: 33.33%;
  padding-right: 10px;
  display: flex;
  column-gap: 5px;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0;
}
.icon-with-text-parent .content--wrapper h4 {
  margin-bottom: 0;
  line-height: 1;
  letter-spacing: -1px;
  margin: 3px 0;
}
.icon-with-text-parent .content--wrapper p {
  font-size: 14px;
  line-height: 1.5;
}
.icon-with-text-parent .content--wrapper {
  flex-basis: 90%;
}
.icon-with-text-parent .icon-with-text {
}

@media screen and (max-width: 640px) {
  .icon-with-text-parent .icon-with-text {
    flex-basis: 50%;
  }
  .icon-with-text-parent {
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 1rem;
  }
  .icon-with-text-parent .icon-with-text:nth-child(odd) {
    padding-right: 10px;
  }
}

/* main-product */
@media screen and (min-width: 641px) {
  .product-form__payment-container {
    flex-direction: column;
    margin: 0;
  }
}
.product-form__payment-container {
  flex-direction: column;
  margin: 0;
}

@media screen and (min-width: 640px) {
  .product--list--cantainer .product-list:before {
    content: "";
    border: 1px solid var(--border-color);
    z-index: 1;
    pointer-events: none;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.product--list--cantainer {
  margin: 1.5rem 0 0;
}
.product--list-parent {
  width: 100%;
}
@media screen and (min-width: 990px) {
  .product--list-parent .product-item--horizontal .product-item__image-wrapper {
    width: 30%;
  }
}
@media screen and (max-width: 640px) {
  .product--list-parent .product-item--horizontal .product-item__image-wrapper {
    width: 100%;
    margin: 0;
  }
  .product--list--cantainer .product-list {
    border-top: 0;
    border-bottom: 0;
  }
  .product--list-parent .product-item--horizontal {
    flex-direction: column;
    padding: 0;
    max-width: 48%;
  }
  .product--list-parent .product-item:after {
    box-shadow: none;
  }
  .product--list-parent .product--list--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4%;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  .main-product--parent .product-meta__share-buttons {
    margin-top: 0;
  }
}
.mini-cart__price-list span.price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}
.main-product--parent button.offer-option-btn {
  border-radius: 3px;
}
.main-product--parent .offer-options-title {
  margin: 0;
}
.product-form__info-list {
  grid-area: 2;
}
.main-product--parent
  .swym-btn-container[data-position="default"]
  .swym-add-to-wishlist.swym-iconbtnlink:after {
  width: 39px;
  line-height: 45px;
}
button.btn.button.rfq-btn.rfq-btn-871 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.main-product--parent .shopify-payment-button,
.swym-button-bar.swym-wishlist-button-bar.swym-inject,
.main-product--parent button.product-form__add-button {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.main-product--parent
  .swym-btn-container[data-position="default"]
  button.swym-button.swym-add-to-wishlist {
  height: 50px;
  padding: 0 40px;
  width: 100%;
  border-radius: 3px;
  background: transparent !important;
  border: 2px solid #2a2c3a;
}
.main-product--parent hr.card__separator {
  display: none;
}
.main-product--parent .product-form__buy-buttons {
  border-bottom: 1px solid #e7e2de;
  padding-bottom: 20px;
}
.shopify-installments__content {
  font-size: 14px !important;
}
.main-product--parent
  .swym-btn-container[data-position="default"]
  .swym-add-to-wishlist.swym-icontext:after {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-product--parent .product-meta__text.rte {
  margin-top: 1rem;
}
.main-product--parent .swym-btn-container.swym-inject {
  width: 100%;
}
.main-product--parent .product-form {
  display: grid;
}
.main-product--parent .product-form__option {
  margin-bottom: 0;
}
.main-product--parent .simp-ask-question-header {
  background: unset;
}
#simpAskQuestion .simpAskForm-container {
  background: unset !important;
}
#simpAskQuestion.simpAsk-container h2 {
  padding: 15px 30px 0;
}
#simpAskQuestion .accordionSimpQA {
  padding: 30px !important;
}
.main-product--parent .form__header.text-center strong {
  color: #48b448;
}
.main-product--parent .form__header.text-center strong[contenteditable="true"] {
  padding: 0 5px;
}
.main-product--parent #simpAskQuestion {
  margin-bottom: 30px;
  border: 1px solid #e7e2de;
  background: #fff;
}
.main-product--parent .product--block--contact {
  margin-bottom: 1.5rem;
  border: 1px solid #e7e2de;
  padding: 5px 10px 10px;
  max-width: 100%;
  /* grid-area: 8; */
  margin-top: 1rem;
}

.main-product--parent .product--block--contact .heading {
  margin-bottom: 10px;
  border-bottom: 2px solid;
}
.main-product--parent .product--block--contact .form__header {
  margin-bottom: 10px;
}
.main-product--parent .product--block--contact select,
.main-product--parent .product--block--contact input {
  padding: 10px 10px 0;
}
.main-product--parent
  .form__input-wrapper--labelled
  .select-wrapper--primary.is-filled
  select {
  padding-top: 10px;
}
.main-product--parent .product--block--contact label,
.main-product--parent .product--block--contact select,
.main-product--parent .product--block--contact input {
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
}
.main-product--parent .product--block--contact .form__submit {
  margin: 20px auto 0;
  display: block;
}
.main-product--parent .product--block--contact .form__header p {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}
.main-product--parent .product--block--contact .form__input-wrapper {
  /* margin: 0; */
}
.main-product--parent .product--block--contact .form__input-row {
  padding: 0 8px;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  margin-bottom: 10px;
  margin-left: 0;
  margin-right: -11px;
}
.main-product--parent .product--block--contact .select-wrapper--primary {
  width: 100%;
  padding: 0 2px;
}

@media screen and (max-width: 640px) {
  .main-product--parent .product--block--contact .form__input-wrapper {
    margin-bottom: 5px;
  }

  .main-product--parent .product--block--contact .form__input-row {
    gap: 0px;
  }
  .main-product--parent .product--block--contact .form__input-row,
  .main-product--parent .product--block--contact .select-wrapper--primary {
    padding: 0px;
  }
  .main-product--parent .product--block--contact .form__input-row {
    margin: auto;
  }
}

.cp24_form_html {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* review Wiget */
#SA_review_wrapper .sa_dropbtn,
.SA__review_content {
  background: transparent !important;
}

.article-item__image-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.article-item__image-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media (min-width: 640px) {
  .slideshow-new .slideshow--preserve-ratio .slideshow__slide-inner > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .slideshow-new .container {
    margin: 0;
    margin-left: 0;
    margin-right: auto;
  }

  .slideshow-new
    .slideshow--preserve-ratio
    .slideshow__slide-inner
    .slideshow__content-wrapper {
    /* width: auto; */
    left: 0;
    transform: translate(0, -50%);
  }
}
@media (max-width: 640px) {
  .slideshow__slide .image-background {
    position: relative;
  }
  .slideshow {
    height: 500px;
  }
  .slideshow--preserve-ratio .slideshow__content-wrapper {
    position: relative;

    transform: none;
    left: 0;
  }
  .slideshow__content-wrapper {
    padding-bottom: 45px;
  }

  .slideshow .flickity-page-dots .dot {
    background: black;
    border: 3px solid black;
  }
  .slideshow .flickity-page-dots {
    bottom: 18px;
  }
}

@media (min-width: 641px) and (max-width: 1000px) {
  .flickity-viewport {
    min-height: 500px;
  }

  .slideshow-new .slideshow__slide {
    min-height: 500px;
    display: flex;
    align-items: center;
  }
}
